*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:white
}
/* esse é o main*/
.container{
    width: 100%;
    max-width: 550px;
    padding: 20px;
}

.header h1{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header h1 span{
    color: blue;
}


/*ícones dos botões*/
.material-symbols-outlined{
    font-size: 18px;
}

.logo-icon{
    font-size: 35px;
    color: aqua;
}

/* divs que contem os inputs */
.input-group{
    display: flex;
    flex-direction: column;
}

/* section que segura os botões(incluindo o limpar) e os inputs*/
.card{
    background: iightblue;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 35px black;
    margin-bottom: 20px;
}


/* div que contem as divs de input*/
.inputs{
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

/* label dos inputs */
.input-group label{
    font-size: 14px;
    margin-bottom: 6px;
    color: black;
}

/* o input em si*/
.input-group input{
    padding: 10px 12px;
    border-radius: 10px;
    background: black;
    color: white;
    font-size: 15px;
    border: 1px solid transparent; 
    transition: all 0.3s ease; 
}

/* Efeito de hover no input */
.input-group input:hover {
    background: #333; 
    border-color: blue; /* Borda colorida para destaque */
}

/*Os botões de função*/
.buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    border-radius: 10px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 12px;
    font-weight: 600;
    font-size: 14px;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
}

/* Efeito de hover geral para botões */
.button:hover {
    transform: translateY(-2px); /* Move o botão ligeiramente para cima */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

/*botão de limpar*/
.btn-clear{
    grid-column: span 2;
    background-color: red;
    border-radius: 10px;
}

.btn-clear:hover {
    background-color: darkred; 
}


/*div que aparece os resultados no final*/
.resultado{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 20px;
    min-height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 5px 25px black
}