*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:white
}
/* esse é o main*/
.container{
    width: 100%;
    max-width: 550px;
    padding: 20px;
}

.header h1{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header h1 span{
    color: blue;
}


/*ícones dos botões*/
.material-symbols-outlined{
    font-size: 18px;
}

.logo-icon{
    font-size: 35px;
    color: aqua;
}

/* divs que contem os inputs */
.input-group{
    display: flex;
    flex-direction: column;
}

/* section que segura os botões(incluindo o limpar) e os inputs*/
.card{
    background: navy;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 35px black;
    margin-bottom: 20px;
}


/* div que contem as divs de input*/
.inputs{
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

/* label dos inputs */
.input-group label{
    font-size: 14px;
    margin-bottom: 6px;
    color: lightgray;
}

/* o input em si*/
.input-group input{
    padding: 10px 12px;
    border-radius: 10px;
    background: black;
    color: white;
    font-size: 15px;

}

/*Os botões de função*/
.buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 12px;
    border-radius:12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    color: white;

}


/*botão de limpar*/
.btn-clear{
    grid-column: span 2;
    background-color: red;
}

/*div que aparece os resultados no final*/
.resultado{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 20px;
    min-height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}
